
.advanced-search-form {
    padding: 16px 8px;
    background: #f8f8f8;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}

/* 由于输入标签长度不确定，所以需要微调使之看上去居中 */
.advanced-search-form > .row {
    margin-left: -10px;
}

.advanced-search-form > .row > .col-8 {
    padding: 0 8px;
}

.advanced-search-form .ant-form-item {
    margin-bottom: 16px;
}

.advanced-search-form .ant-btn + .ant-btn {
    margin-left: 8px;
}
